<div class="maincontent">
  <%# <%= form_with(url: search_memos_path, local: true, method: :get, class: "search") do |form| %>
    <%# <%= form.text_field :keyword, placeholder: " \uf002 search", class: "fa" %> 
    <%# <%= form.submit "検索", class: "search-btn" %> 
  <%# <% end %> 

<h3>自分のメモ一覧</h3>
<div class="contents">
<%if @memos.present?%>
  <% @memos.each do |memo| %>
    <%= link_to memo.title, memo_path(memo), class: "contents__postd" %>
  <% end %>
<%else%>
  <h2 present>まだ自分のメモには何も投稿されていません。<br>「記録する」をクリックしていただくとメモを保存する事が出来ます。
  </h2>
<%end%>
</div>
</div>  