body{

   min-height: calc(100vh - 60px);


}
.m{
   animation: flash 1s linear infinite;
   
   font-size:90px;
   font-weight: bold;
 }
 .text{
    margin-top: 50px;
   text-align: center;
   font-size:90px;
   font-weight: bold;
   font-family: 'Rock Salt', cursive;


 }
 
 @keyframes flash {
   0%,100%{
     opacity: 1;
   }
   90%{
      opacity: 1;
      color:#a7f517;
    }
 
   0%{
     opacity: 1;
     color:#fff;
   }
   

   
 }

 .bg {
   animation:slide 3s ease-in-out infinite alternate;
   background-image: linear-gradient(-60deg,#a7f517 50%, rgb(179, 171, 171) 50%);
   bottom:0;
   left:-50%;
   opacity:.5;
   position:fixed;
   right:-50%;
   top:0;
   z-index:-1;
 }
 
 .bg2 {
   animation-direction:alternate-reverse;
   animation-duration:4s;
 }
 
 .bg3 {
   animation-duration:5s;
 }
 @keyframes slide {
   0% {
     transform:translateX(-25%);
   }
   100% {
     transform:translateX(25%);
   }
 }