  <ul class="contents__post">
    <li><%= link_to memo.title, memo_path(memo.id) %>
      <ul class="drop">
        <li><%= link_to memo.text, memo_path(memo.id) %></li>
      </ul>
    </li>
  </ul>

  <%= render 'likes/like', memo: memo %>
