<div class="contents">
  <% @memos.each do |memo| %>
    <div class="contents__post">
      <%= simple_format(memo.text) %>
      <span class="name">
        <%= memo.title %>
      </span>
    </div>
  <% end %>
</div>