<div class="maincontent">
<div class="contents">
  <% @memos.each do |memo| %>
    <div class="contents__post">
      <%= link_to memo.title, memo_path(memo.id), class: "contents__post__title" %>

     
     
    </div>
  <% end %>
</div>
</div>